requests
python-telegram-bot==13.15
schedule
flask
telegram
bcrypt
PyJWT
telethon
flask-simple-captcha
cryptography
Flask-Limiter
pyotp
qrcode
openai
fpdf2
fpdf
gunicorn
gevent
flask-cors
firebase-admin
resend
cryptography
Flask
Flask-CORS
Flask-JWT-Extended
gunicorn
psycopg2-binary
python-dotenv
python-telegram-bot
requests
SQLAlchemy
bcrypt==4.1.2
cryptography==41.0.7
Flask==3.0.3
Flask-CORS==4.0.0
Flask-JWT-Extended==4.6.0
gunicorn==22.0.0
psycopg2-binary==2.9.9
python-dotenv==1.0.1
python-telegram-bot==21.6
requests==2.32.3
SQLAlchemy==2.0.23
