[Unit]
Description=VerzekSignalEngine Health Check Timer
Requires=verzek-signalengine.service

[Timer]
OnBootSec=5min
OnUnitActiveSec=5min
AccuracySec=1s

[Install]
WantedBy=timers.target
