[Unit]
Description=Verzek AutoTrader Worker
After=network.target verzek_api.service

[Service]
Type=simple
User=root
WorkingDirectory=/root/api_server
Environment="PATH=/usr/bin:/usr/local/bin"
EnvironmentFile=/root/api_server_env.sh
ExecStart=/usr/bin/python3 /root/api_server/worker.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
