name: Deploy to Vultr

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Start SSH agent
        uses: webfactory/ssh-agent@v0.8.0
        with:
          ssh-private-key: ${{ secrets.VULTR_SSH_KEY }}

      - name: Add Vultr server to known_hosts
        run: |
          ssh-keyscan -H 80.240.29.142 >> ~/.ssh/known_hosts

      - name: Execute deployment script on server
        run: |
          ssh root@80.240.29.142 << 'EOF'
          cd /root/api_server
          git pull origin main
          systemctl restart verzek_api.service
          systemctl restart nginx
          EOF
